<% provide(:title, '7 Life Hacks to stay productive during the holiday season') %>

<% content_for :for_socialmedia do %>

  <meta property="og:description" content="7 Life Hacks to stay productive during the holiday season." />  
        
    <!--Twitter-->
    
<% end %>

<!--Put picture for post here -->
<br>
<div class="row">
  
  <div class="span3">
  </div>

  <div class="span6">
    <a href="" title="" alt="Life Hacks to Stay Productive During the Holiday Season"><img class="mainBlogpostImage" src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/Holiday+Season+Productivity.jpg"  /></a>
  </div>

  <div class="span3">
  </div>

</div>

<!--Put Blog post title here-->
<div class="row">
  
  <div class="span3">
  </div>

  <div class="span6">
    <h1 class="text-center"><%= link_to "7 Life Hacks to Stay Productive During the Holiday Season", "http://www.AdviceShare.co/blog/Life-Hacks-for-Holiday-Season-Productivity", class: 'NoUnderlineForLink' %></h1>
  </div>

  <div class="span3">
  </div>

</div>

<!--Author bio here-->

<div class="row-fluid">
  <div class="clearfix content-heading explainergraphicsAuthor">  
  
  <div class="span4">
  </div>

  <div class="span4">
    <div class="clearfix content-heading" style="margin-left: 40px;">  
          <div class="clearfix content-heading explainergraphicsAuthor">  
          <img class="pull-left explainergraphicsAuthor" src="https://s3.amazonaws.com/AdviceShare/AS_Favicons/AS_Favicon.png"/>
          <h4 class="text-left blogAuthorName" style="margin-left: 50px;">
            <a class="" href="http://www.AdviceShare.co/blog/Life-Hacks-for-Holiday-Season-Productivity#author">by The AdviceShare team</a> 
          </h4>
        </div>
  
    </div>
  </div>
  
  <div class="span4">
  </div>
  
  </div>
</div>



<!--Put Preview Content Here-->
<div class="row">
  
  <div class="span2">
  </div>


  <div class="span8">
    <h1 class="text-center postPreviewContent">While the holiday season is meant to be enjoyed, it also presents a great opportunity to be productive. Here are a few life hacks that will help...</h1>

    
    <hr>

<!--Put Post Content Here-->

    <h5 class="blogPostText" style="font-style: italic;">This is the second post of our new series: Landing Professional and Academic Opportunities. Earlier posts can be found<a class="NoUnderlineForAuthorLinks" href="http://www.AdviceShare.co/blog/"> here</a>.<h5>
    <br>
    <h5 class="blogPostText">Another beautiful holiday season is in full swing, which often means spending time with loved ones and taking a bit of a mental break from our daily rigor. While the season is certainly meant to be enjoyed, it also presents some great opportunities to be productive for students and professionals alike.<br>
    <br>
    <h5 class="blogPostText">
    The following life hacks are easy to implement and won’t take up too much of your relaxation time.</h5>
    <br>
    

       <h5 class="blogPostText"><strong>Catch up with all of your stakeholders - </strong>Send a quick update to the various stakeholders in your life (family members, mentors, friends, etc.) who you don’t communicate with regularly, but want to maintain a relationship with. If you're a student, consider including your professors, as you never know when you will need them. For professionals, don’t hesitate to include former colleagues. Though it will be tempting, avoid the mail merge (e.g. “Hi,” or “Happy Holidays”) and try to personalize each note. The slower pace of the holidays should give your stakeholders some bandwidth to engage/respond. People will appreciate the thought behind your note and it’s a great way to keep in touch. If you need a template <a class="NoUnderlineForAuthorLinks" href="mailto:malcolm@AdviceShare.co">email me</a> and I'll be happy to help.</h5>
       <br>     
       <h5 class="blogPostText"><strong>Update your resume and online presence - </strong>Spruce up your resume a bit by adding new positions, responsibilities, and skills. Perhaps invest in a new format. It won’t make sense for conservative industries, but infographic/digital resumes are becoming increasingly popular. <a class="NoUnderlineForAuthorLinks" href="http://www.pinterest.com/rtkrum/infographic-visual-resumes/" target="_blank">Here are some great examples on Pinterest.</a></h5>
       <h5 class="blogPostText" style="">Given today’s increasingly digital world, it’s a great idea to proactively manage your online brand/presence by creating your own website (where you can host your resume too). Most people, including potential employers and colleagues, will Google your name when they want more information about you. Tell your own story through your site instead of having it pieced together with bits from the internet. Making your own site may seem daunting, but there are tons of great Do-It-Yourself options that require no programming skills. I’m a fan of <a class="NoUnderlineForAuthorLinks" href="https://www.strikingly.com/" target="_blank">Strikingly</a> and use it myself.</h5>
      <br>
       <h5 class="blogPostText"><strong>Grow your network - </strong>Not to be confused with catching up with your stakeholders, the holiday season is a great time to expand your network. Work normally slows down during the holidays, and will certainly pick back up the first full week of the new year. Use your existing network and social platforms, like LinkedIn and Twitter, to identify and connect with others. Don't be discouraged if people don't respond right away. Some people use the holidays to go on vacation and make a conscious effort to unplug a bit. Nevertheless, especially relative to the rest of the busy year, the holidays present a great time to start establishing new connections.</h5>
      <br>
       <h5 class="blogPostText"><strong>Set Goals - </strong>This may sound a bit cliché, but goals are necessary. However, in a break from tradition, don’t set yearly goals or New Year’s resolutions (there’s a great parody post about this on <a class="NoUnderlineForAuthorLinks" href="http://www.buzzfeed.com/joannaborns/realistic-new-years-resolutions" target="_blank">Buzzfeed</a>). Yearly goals tend to be broad, vague, and difficult to track. Instead, just set goals for the first month of the year. If you’re comfortable, share them on Twitter/Facebook/Instagram to help hold you accountable. When Jan 31st comes, track your progress and set a new set for next month.</h5>
      <br>      
      <h5 class="blogPostText"><strong>Research job opportunities - </strong>Life is unpredictable and even if you’re comfortable in your current situation, it’s great to always be aware of available opportunities. Use some down time to look into the opportunities that interest you and start drafting the necessary documents that are required. <a class="NoUnderlineForAuthorLinks" href="https://twitter.com/RitikaTrikha" target="_blank">@RitikaTrikha </a>posted a great <a class="NoUnderlineForAuthorLinks" href="http://www.careerbliss.com/advice/the-careerbliss-guide-to-holiday-job-searching/?utm_content=bufferf712d&utm_source=buffer&utm_medium=twitter&utm_campaign=Buffer" target="_blank">Guide to Holiday Job Searching</a>. </h5>
      <br>      
      <h5 class="blogPostText"><strong>Get your finances in order - </strong>Review your past year finances (income, expenses, retirement accounts, etc.), and start a budget for the upcoming year. There are tons of great tools offered by <a class="NoUnderlineForAuthorLinks" href="http://www.mint.com/" target="_blank">Mint </a>and <a class="NoUnderlineForAuthorLinks" href="https://www.simple.com/" target="_blank">Simple</a>. We also have a spreadsheet and if interested, <a class="NoUnderlineForAuthorLinks" href="mailto:malcolm@AdviceShare.co">feel free to email me.</a></h5>
      <br>
      <h5 class="blogPostText"><strong>Recharge - </strong>You've worked hard this year and fatigue is real. Unplug a bit and get ready to sprint next year. You deserve it!</h5>
      <br>
      <br>
      

    <h5 class="blogPostText">Enjoyed the post? Sign up to get our posts before anyone else and share your thoughts in the comments below!
    <!--<a class="NoUnderlineForAuthorLinks" href="mailto:general@AdviceShare.co">email us!</a>-->
    <br>
    <br>
    Thank you for the support! Please share by clicking below if its not too much trouble :)
    </h5>
    <br>

  <div class="span2">
  </div>

</div>

 <br>
 <br>
<br>

 <%= render 'blogsignups/blogShareSignups' %>

 <!--Author detailed bio here-->
<%= render 'blogposts/adviceshareTeamBio' %>

 <%= render 'blogsignups/blogComments' %>

