<% provide(:title, 'Blog') %>

<!--Put picture for post here -->
<br>
<br>

<!--Put Blog post title here-->
<div class="row">
  
  <div class="span3">
  </div>

  <div class="span6">
    <!--<h1 class="text-center"><%= link_to "First Blogpost Goes Here", "http://www.AdviceShare.co/blog/I-Am-Calling-This-Page-This" %></h1>-->
  </div>

  <div class="span3">
  </div>

</div>


<!--Put Preview Content Here
<div class="row">
  
  <div class="span2">
  </div>


  <div class="span8">
    <h1 class="text-center postPreviewContent">HLorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</h1>
  </div>

  <div class="span2">
  </div>

</div>-->

 <br>
 <br>
<br>
 <%= render 'blogsignups/blogSignups' %>
 <br>
<br>
<br>
<br>
<br>
<br>

