<% provide(:title, 'Here’s 7 Strategies To Ace Your Next Interview') %>

<% content_for :for_socialmedia do %>

  <meta name="description" content="Here’s 7 Strategies To Ace Your Next Interview" />  
        
    <!--Twitter-->
    
<% end %>

<!--Put picture for post here -->
<br>
<div class="row">
  
  <div class="span3">
  </div>

  <div class="span6 visible-desktop visible-tablet">
    <a href="/blog/Acing-Your-Next-Interview" title="" alt="Here’s 7 Techniques To Ace Your Next Interview"><img class="mainBlogpostImage" src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/for+evans2+(1).jpg"  /></a>
  </div>

  <div class="span6 visible-mobile hidden-table hidden-desktop">
    <a href="/blog/Acing-Your-Next-Interview" title="" alt="Here’s 7 Techniques To Ace Your Next Interview"><img class="mainBlogpostImage" style="margin-left: -1px;"  src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/for+evans2+(1).jpg"  /></a>
  </div>

  <div class="span3">
  </div>

</div>

<!--Put Blog post title here-->
<div class="row">
  
  <div class="span1">
  </div>

  <div class="span10">
    <h1 class="text-center"><%= link_to "Here’s 7 Strategies To Ace Your Next Interview", "/blog/Acing-Your-Next-Interview", class: 'NoUnderlineForLink mainPostTitleText' %></h1>
  </div>

  <div class="span1">
  </div>

</div>

<!--Author bio here-->

<div class="row-fluid">
  <div class="clearfix content-heading explainergraphicsAuthor">  
  
  <div class="span4">
  </div>

  <div class="span4">
    <div class="clearfix content-heading" style="margin-left: 40px;">  
          <div class="clearfix content-heading explainergraphicsAuthor">  
          <img class="pull-left explainergraphicsAuthor" src="https://s3.amazonaws.com/AdviceShare/AS_Favicons/AS_Favicon.png"/>
          <h4 class="text-left blogAuthorName" style="margin-left: 50px;">
            <a class="" href="/blog/Acing-Your-Next-Interview#author">by The AdviceShare team</a> 
          </h4>
        </div>
  
    </div>
  </div>
  
  <div class="span4">
  </div>
  
  </div>
</div>



<!--Put Preview Content Here-->
<div class="row">
  
  <div class="span2">
  </div>


  <div class="span8">
    <h1 class="text-center postPreviewContent">Having participated in over 100 interviews as both interviewees and interviewers, we've learned the following strategies that will help you excel in your next interview...</h1>

    
    <hr>

<!--Put Post Content Here-->

    <h5 class="blogPostText" style="font-style: italic;">This is the fourth post of our new series: Landing Professional and Academic Opportunities. Earlier posts can be found<a class="NoUnderlineForAuthorLinks" href="/blog/#EarlierPosts" target="_blank"> here</a>.<h5>
    <br>
    <h5 class="blogPostText">Interviewing can be difficult and nerve-wracking. The stakes are high yet you will be expected to clearly and concisely respond to everything thrown your way. While there are techniques you can leverage, they are contingent upon you being comfortable and confident during the interview. Lean on friends and use the resources at your exposure to build your confidence answering many common interview questions (just <a class="NoUnderlineForAuthorLinks" href="mailto:general@AdviceShare.co" target="_blank">shoot us a note </a>if you need a list). Once you are comfortable doing so, work on layering in the following strategies.
    <br>
    <br>
    <br>
    <strong><em>Network within the firm</em></strong>
    <p style="margin-bottom: 15px;"></p>
    In addition to your own preparation, you should reach out to your contacts at the firm where you are interviewing and ask for their insights. Even if they don’t provide substantive insights, touching base is a great way to show your genuine interest. Additionally, you also never know the representative’s influence within the firm. For instance, I once made a connection to an employee and stayed in contact with him over the next few months. Once I was notified I would receive an interview I reached back out and he gave me a few words of wisdom, but none of which were really helpful. Two weeks later, as I walked into the interview I was shocked to see the same employee waiting in the room. Not only had we already met, but we had also developed a bit of a relationship. Though the interview didn’t go well in my eyes, I was pushed through to the next round. To this day I firmly believe the investment in networking beforehand allowed me to build a brand within the firm that helped make the difference.
    <br>
    <br>
    <br>
    <strong><em>Find out what traits & skills matter</em></strong>
    <p style="margin-bottom: 15px;"></p>
    Interviewers want to find out if you possess the skills integral to succeed in their business. As such, it is important to determine what these skills are and use them as the basis for how you position yourself to your interviewer.
    <br>
    <br>
    <br>
    <strong><em>Show don't tell</em></strong>
    <p style="margin-bottom: 15px;"></p>
    Though it is important to know what the skills are important, the manner in which you convey them is equally important. Given the opportunity, every interviewee will explicitly state that they possess the skills necessary to excel at the job. However, there is tremendous power in having examples that show that you possess the skills versus simply stating that you do. Prior to your interview, re-familiarize yourself with the various experiences you’ve had throughout the years. Know which stories best illustrate the skills you want to highlight and be able to tell them in a concise, yet persuasive manner.
    <br>
    <br>
    To illustrate this point, let’s take a look at two responses to the question “What are your primary skills?”:<br><br>
    <ul class="extraTab">
      Candidate A: “I have tremendous organizational planning skills.”<br><br>
      Candidate B: “I have tremendous organizational planning skills, which I have developed through my position as director of planning of XYZ club. In this position I organized a two-day conference with 10 corporate sponsors and over 300 attendees. I believe it went well and several attendees emailed me afterwards to thank me for my efforts.”<br><br>
    </ul>
    The former is an example of telling, while the latter demonstrates showing. Showing will resonate more with your interviewer, while giving them concrete examples to use to pitch you to others.
    <br>
    <br>
    <br>
    <strong><em>Listen more than you talk</em></strong>
    <p style="margin-bottom: 15px;"></p>
    Though your interviewer understands their job is to assess your candidacy, it is difficult for anyone to sit back and listen to someone else speak for 30 straight minutes. Engaging your interviewer is not only a great way to make sure they stay alert, but also raises the likelihood you will spend more time listening than talking which can be beneficial in two ways.
    <br>
    <br>
    First, the less you speak, the lower your likelihood of making a mistake such as saying something incorrect, or introducing a concept/idea that you are not fully comfortable speaking about.
    <br>
    <br>
    Second, as<a class="NoUnderlineForAuthorLinks" href="http://www.giveandtake.com/" target="_blank"> Professor Adam Grant </a>points out, Psychologist James Pennebaker has researched that people naturally have what he calls “the joy of talking.” At risk of oversimplifying I’ll summarize one of his important findings. In the study Pennebaker divided strangers into small groups. Let’s say you joined one of his groups. Pennebaker proceeded to give you 15 minutes to talk with the strangers about anything you wanted to. After the time was up, Pennebaker asked you to rate how much you liked the group. Logically, the more you talked the more you liked the group. When asked to rate how much you learned about the group, we would naturally expect this relationship to be reversed (the more you talked the less you learned). However, it turns out the more you talk the more you believe you've learned about the group. Applying this concept to interviews leads us to believe that the more time our interviewers spend talking, the more likely they are to have enjoyed their time with us and believe they have a great sense of who we are.
    <br>
    <br>
    <br>
    <strong><em>Search for commonalities</em></strong>
    <p style="margin-bottom: 15px;"></p>
    People tend to feel a stronger connection to those who they have something in common with. Though it may be difficult to learn more about your interviewer, you should do your best to pick up on anything the interviewer mentions about their personal background. For example, if they went to school at the University of Texas, you will want to think about all of your potential connections to Texas. As the psychologist Robert Cialdini sums in the book <a class="NoUnderlineForAuthorLinks" href="http://www.amazon.com/Influence-Psychology-Persuasion-Business-Essentials/dp/006124189X" target="_blank">Influence: The Psychology of Persuasion</a>, "similarity literally draws people together." Bonding over commonalities, is not a clear cut way to convince your interviewer to push you to the next round, but helps them develop an affinity towards you, which is never a bad thing.
    <br>
    <br>
    <br>
    <strong><em>Have Questions prepared, actual ones</em></strong>
    <p style="margin-bottom: 15px;"></p>
    A friend recently told me about a candidate who interviewed at his firm. While he liked him, he mentioned the candidate did not ask any meaningful questions besides the normal “Can you tell me about your typical day?” My friend viewed the candidate’s cookie-cutter questions as a lack of genuine interested in the industry and position, both of which weighed negatively on his candidacy. Have questions prepared that demonstrate you have done your research on the firm, the industry and the role to which you are applying.
    <br>
    <br>
    <br>
    <strong><em>Everything you say is fair game</em></strong>
    <p style="margin-bottom: 15px;"></p>
    Anything you bring up in an interview is fair game. If you claim to be fluent in Spanish on your resume, be prepared for your interviewer to be fluent in Spanish. Or if you claim to run marathons in your spare time, be prepared for your interviewer to be a world-class marathon runner. Everyone embellishes their accomplishments, both on paper and in person, but there's nothing worse than being caught doing so, especially in an interview. You never know what your interviewer's background will be or what aspects of your background they will take an interest in. Set yourself up for success by making sure you are comfortable speaking in-depth about anything you put out there.
    <br>
    <br>
    <br>
    Though there are hundreds of ways to excel in  your interviews, the team at<a class="NoUnderlineForAuthorLinks" href="http://www.twitter.com/Adviceshare" target="_blank">  Adviceshare </a> has found success with these techniques. Regardless of what strategies you employ, make sure you practice because delivery is everything. <a class="NoUnderlineForAuthorLinks" href="mailto:general@AdviceShare.co" target="_blank"> We’re here if you need a partner</a>!

    </h5>
    <br>
      

    <h5 class="blogPostText">Thanks for the support and please share if its not too much trouble. Every share means the world to us!
    <!--<a class="NoUnderlineForAuthorLinks" href="mailto:general@AdviceShare.co">email us!</a>-->
    <br>
    <br>
    
    </h5>
    <br>

  <div class="span2">
  </div>

</div>

 <br>
 <br>
<br>
  <div id="SignUp">
 <%= render 'blogsignups/blogShareSignups' %>
  </div>
 <!--Author detailed bio here-->
<%= render 'blogposts/adviceshareTeamBio' %>

 <%= render 'blogsignups/blogComments' %>

