<% provide(:title, 'Insights on how we landed the following professional and academic opportunities') %>

<% content_for :for_socialmedia do %>
  <!--<meta http-equiv="refresh" content="0; url=http://www.adviceshare.co/blog/highly-coveted-professional-and-academic-positions">-->
  <!--Facebook-->
  <meta property="og:description" content="Blog | Insights on how we landed the following professional and academic opportunities." />  
        
    <!--Twitter-->
    
<% end %>


<!--Put picture for post here -->
<br>
<div class="row">
  <a href="" title="Adviceshare blog" alt="Grad School-Internships-Full Time Jobs-Life Skills"><img class="blogpostimage" src="https://s3.amazonaws.com/AdviceShare/Blog+Post+Images/Landing%2BProfessional%2Band%2BAcademic%2BPositions.jpg" /></a>
</div>

<!--Put Blog post title here-->
<div class="container-fluid">
  <div class="row-fluid">
    
    <div class="span1">
    </div>

    <div class="span10">
      <h1 class="text-center"><%= link_to "How we landed the following professional and academic opportunities", "http://www.AdviceShare.co/blog/highly-coveted-professional-and-academic-positions", class: 'NoUnderlineForLink' %></h1>
      <br>
    </div>

    <div class="span1">
    </div>

  </div>
 </div> 



<!--Author bio here-->

<div class="row-fluid">
  <div class="clearfix content-heading explainergraphicsAuthor">  
  
  <div class="span4">
  </div>

  <div class="span4">
    <div class="clearfix content-heading" style="margin-left: 40px;">  
          <div class="clearfix content-heading explainergraphicsAuthor">  
          <img class="pull-left explainergraphicsAuthor" src="https://s3.amazonaws.com/AdviceShare/AS_Favicons/AS_Favicon.png"/>
          <h4 class="text-left blogAuthorName" style="margin-left: 50px;">
            <a class="" href="http://www.AdviceShare.co/blog/highly-coveted-professional-and-academic-positions#author">by The AdviceShare team</a> 
          </h4>
        </div>
  
    </div>
  </div>
  
  <div class="span4">
  </div>
  
  </div>
</div>

<!--Put Preview Content Here-->
<div class="row">
  
  <div class="span2">
  </div>


  <div class="span8">
    <h1 class="text-center postPreviewContent">We're sharing the strategies, challenges, and mistakes we learned in landing the following types of highly coveted positions.</h1> Other posts can be found<a class="NoUnderlineForAuthorLinks" href="/blog/#EarlierPosts"> here</a>.<h5>
    
    <hr>

    <h5 class="blogPostText" style="font-style: italic;">This is the opening post of our new series: Landing Professional and Academic Opportunities.<h5> I
    <br>
    <h5 class="blogPostText">"I'm really interested in doing XYZ, and would love to hear the advice of someone who has already done it successfully."
    <br><br>
    We've had this thought plenty of times, which sparked a sprint to launch the series you’re reading right now.
    <br><br>
    We want to share our strategies, mistakes and challenges of successfully securing various professional and academic opportunities. We'll be curating posts from our team at <a class="NoUnderlineForAuthorLinks" href="http://www.adviceshare.co" target="_blank">AdviceShare</a> and fellow bloggers.
    <br><br>
    Here's a quick overview of the types of things that we'll be writing about in our series. If you want to be notified when a post goes live just sign up below!<h5>
    <br>

      <h4 class="tab">Internships</h4>

      <ul class="extraTab">
        <li class="blogPostText">Here’s How We Selected Applicants for Interviews at My Fortune 500 Firm.</li>
        <li class="blogPostText">In Pursuit of the Dream: How I Landed a Position as A White House Intern.</li>
        <li class="blogPostText">Landing an Opportunity at Google; Insights from a Former Intern and Full-Time Employee.</li>
        <li class="blogPostText">Standing Out in a Crowd: How to Get an Internship on Wall Street.</li>
        <li class="blogPostText">Graduating from your Internship: Getting the Full-Time Offer.</li>
      </ul>
      <br>

      <h4 class="tab">Full-time Jobs</h4>

      <ul class="extraTab">
        <li class="blogPostText">Transitioning from Finance to Tech, Here's How I Did it.</li>
        <li class="blogPostText">How I Got a Job on Wall Street Even Though I Knew Nothing about Finance.</li>
        <li class="blogPostText">Against The Odds: Advice on Breaking into the Sports World.</li>
        <li class="blogPostText">Navigating the Case Interview to break into Management Consulting.</li>
      </ul>
      <br>

      <h4 class="tab">Life Skills</h4>

      <ul class="extraTab">
        <li class="blogPostText">Life Hacks to Stay Productive During the Holiday Season.</li>
        <li class="blogPostText">The Art & Science of Networking.</li>
        <li class="blogPostText">4 Interview Techniques that May Surprise You.</li>
        <li class="blogPostText">Getting a Letter of Recommendation from Someone Who Doesn't Remember You.</li>
        <li class="blogPostText">5 Things The Real World Has Taught Me Since I Graduated 3 Years Ago.</li>
      </ul>
      <br>

      <h4 class="tab">Grad School</h4>
       <ul class="extraTab">
        <li class="blogPostText">Here’s exactly what I did to get into Columbia Law School.</li>
        <li class="blogPostText">Applying to Business School: Insights from a first year student at Harvard.</li>
        <li class="blogPostText">3 Things I Wish I Did During College That Would Have Made Applying to Grad School Easier.</li>
        <li class="blogPostText">Getting Into MFA Programs Are Tough. Here is How I got into the Actors Studio Drama School Two Months Before Classes Started.</li>
      </ul>
      <br>



    <h5 class="blogPostText">Have suggestions for additional posts in the series? Want to share your own experience? Just let us know in the comments below or
    <a class="NoUnderlineForBlogLinks" href="mailto:general@AdviceShare.co">email us!</a> 
    <br>
    <br>
    Thank you for the support! Please share by clicking below if its not too much trouble :)
    </h5>
    <br>

  <div class="span2">
  </div>

</div>

 <br>
 <br>
<br>

 <%= render 'blogsignups/blogShareSignups' %>

 <!--Author detailed bio here-->
 
 <%= render 'blogposts/adviceshareTeamBio' %>

 <%= render 'blogsignups/blogComments' %>

