<%= form_tag advicearea_path(@advicearea), method: :get do %>
  <p class="form-search" class="input-xxlarge">
    <%= text_field_tag :query, params[:query], placeholder: 'What type of advice are you looking for?' %>
    <button type="submit" class="btn">Search</button>
  </p>
<% end %>
