<% provide(:title, 'About') %>

<h2 class="text-center">An easier way to get the advice you're looking for.</h2>
<br>
<br>
<br>
<h3 class="text-center">AdviceShare provides professional and academic advice from accomplished people, helping you get closer to your goals, while saving time along the way.</h3>
