<div class="center hero-unit">
<div class="jumbotron">
  <h1>AdviceShare</h1>
	<% if user_signed_in? %>  
		<%= render 'static_pages/search' %>
    <% else %>
   <p>
     <%= link_to "Sign up", new_user_registration_path, 
     class: "btn btn-large btn-primary" %>
     <br>
     <br>
     <!--<%= link_to "Log in", new_user_session_path, class: "btn btn-large" %> -->
   </p>
  <% end %>
</div>  
</div>