
<div class="spacefortopoflandingpage">
<div>

<div class="parentLanding">
    <div class="childLanding">
        <img src="https://s3.amazonaws.com/AdviceShare/AdviceShare-big-green.png" />
	</div>
</div>

<div class="row">
  <div class="span6">
  	<div class="parent">
      <div class="child">
          
		<h1 class="text-center">An easier way to get the advice you're looking for.</h1>
		<br>
		<h3 class="text-center">AdviceShare provides professional and academic advice from accomplished people, helping you get closer to your goals, while saving time along the way.</h3>

      </div>
    </div>
  </div>

  <div class="span6">
  	<div class="parent">
      <div class="child">

		<h1 class="text-center">How it Works</h1>
		<br>
		<br>
		<h4 class="text-left">
			1. You tell us what type of advice you're looking for.
			<br>
			<br>
			2. We'll provide you with insights with those who have been in your shoes, and want to help.
			<br>
			<br>
			3. You avoid the hassle of emailing strangers, coordinating schedules, and doing tons of google searches.

		</h4>

      </div>
    </div>
  </div>
  
</div>

<div class="buttonLanding">
    <div class="childLanding">
        <button class="btn btn-large btn-primary" type="button"><%= link_to 'Sign Up for Early Access', "http://www.adviceshare.co/#sign-up", class: 'NoUnderlineForLink', id: 'whiteText'  %></button>
        <br>
        <br>
        <br>
        <br>
        <small>© 2013 AdviceShare. All rights reserved.</small>
	</div>
</div>

