<% provide(:title, 'Pricing') %>
<%= render 'layouts/emptyspaceattopofpage' %>

<h1 class="text-center">Pricing</h1>
<br>
<br>

<div class="row">
  <div class="span4 offset2">
  	<div class="pricingparent">
      <div class="pricingchild">
          <img src="http://comps.canstockphoto.com/can-stock-photo_csp2525879.jpg" />
        <button class="btn btn-large btn-primary" type="button"><%= link_to 'Sign Up for Early Access', "http://www.adviceshare.co/#sign-up", class: 'NoUnderlineForLink', id: 'whiteText'  %></button>
      </div>
    </div>
  </div>
  <div class="span4">
  	<div class="pricingparent">
      <div class="pricingchild">
          <img src="http://comps.canstockphoto.com/can-stock-photo_csp2525879.jpg" />
          <button class="btn btn-large btn-primary" type="button"><%= link_to 'Sign Up for Early Access', "http://www.adviceshare.co/#sign-up", class: 'NoUnderlineForLink', id: 'whiteText'  %></button>
      </div>
    </div>
  </div>
</div>
