<div class="spacefortopoflandingpage">
<div>
<div class="parentLanding">
    <div class="childLanding">
        <br>
        <br>   
        <img src="https://s3.amazonaws.com/AdviceShare/AdviceShare+Logos/AdviceShare+full+white+logo+bigger.png" />
        <br>
        <br>
        <br>
        <h1 class="text-center">Thank you! <br><br> 
            We'll email you when access becomes available!</h1>
        <br>
    </div>
</div>