<div class="spacefortopoflandingpage">
<div>
<div class="parentLanding">
    <div class="childLanding">
        <br>
        <br> 
        <br>
        <br>
        <br>  
        <h1 class="text-center">Thank you! 
        <br>
        <br>
        <br>
        <h3>We'll email you when access becomes available.
        <br>
        <br>
        <br>
        Please help us spread the word!
        <br>
        <br>
        <br>
        <a href="http://ctt.ec/7Xfeb" target="_blank">Here's a quick tweet</a>
        <br>
        <br>
        <br>
        <br>   
        <a href="http://on.fb.me/1hvxbDA" target="_blank">and a Facebook post to help :-)</a>
        </h1>
       <br>
    </div>
</div>  