<br>
<br>

<div class="row">
  
  <div class="span5">
  </div>

  <div class="span4">
      <a class="footerIcons" style="margin-right: 20px;" href="https://twitter.com/adviceshare" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
      <a class="" style="margin-right: 20px;" href="https://www.facebook.com/adviceshare" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
      <a class="" style="margin-right: 20px;" href="http://www.linkedin.com/company/adviceshare" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a>
      <a class="" href="mailto:general@adviceshare.co"><i class="fa fa-envelope fa-3x" target="_blank"></i></a>
  </div>

  <div class="span5">
  </div>

</div>

