<!-- FORM -->
<div class="row">
  
  <div class="span2">
  </div>

  <div class="span8 formBackground">
	  <div style="text-align: center;">
			<br>
			<br>
			<h2 class="text-center formMainText">We're sharing everything we learned in securing highly coveted academic and professional opportunities.</h2>
	    <h2 class="text-center formSubText">We've learned a lot and so will you!</h2>
		  <div style="display: inline-block; text-align: left;">
		  	 <% @blogsignup ||= Blogsignup.new %>
					<%= simple_form_for @blogsignup, :html => {:class => 'form-inline' } do |f| %>
						<div class="controls controls-row">
						<%= f.input :name, :label => "", :required => true, :placeholder => 'Name', :input_html => {style: 'width:200px; height: 30px; margin-bottom: -20px;'} %>
					    <%= f.input :email, :label => "", :required => true, :placeholder => 'Email', :input_html => {style: 'width:200px; height: 30px; margin-bottom: -px;'} %>
					    </div>
					     <%= f.button :submit, 'Join us!', :class=> "btn btn-large btn-primary-blog" %>
					<% end %>
			<br>
			<br>		
		  </div>
		</div>
	</div>

	<div class="span2">
  </div>
</div>  