<br>
<div class="row">
  
  <div class="span5">
  </div>

  <div class="span2">
    <hr>
    <a class="" style="margin-right: 22px;" href="https://twitter.com/adviceshare" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a class="" style="margin-right: 22px;" href="https://www.facebook.com/adviceshare" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a class="" style="margin-right: 22px;" href="http://www.linkedin.com/company/adviceshare" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <a class="" href="mailto:general@adviceshare.co"><i class="fa fa-envelope fa-2x" target="_blank"></i></a>
  </div>

  <div class="span5">
  </div>

</div>