@import "bootstrap";

@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */



/* typography */



/* header */

#logo {
  float: left;
  margin-top: 10px;
}

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #7aba7a;
  background-image: none;
}

.navbar .navbar-inner .nav.pull-right {
    margin-top: 25px; 
}

.headerlinks{
  color: #fff !important; 
}


/* AdviceAreas */

.AdviceAreascontainer{
  padding-left: 150px;
}

.ShowAdvice, .ShowSection{
  text-decoration: none !important; 
}

/* AdviceSections */

.AdviceAreasSections{
  list-style: block;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}