@import "bootstrap";

@import "bootstrap-responsive";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html,body {
  background-color: #F0F0F0;
}

/* typography */

/* header */

#logo {
  float: left;
  margin-top: 10px;
}

.navbar-inner {
  background-color: #7aba7a;
  background-image: none;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.navbar .navbar-inner .nav.pull-right {
    margin-top: 32px; 
}

.headerlinks{
  color: #fff !important; 
}

/* Landing Page */


.btn.btn-large.btn-primary{
  background-color: #00aced;
  background-image: none;
  padding: 18px 28px;
  font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.parentLanding {
    display:table;
    border:2px solid gray;
    height: 300px;
    width:100%;
}

.buttonLanding {
    display:table;
    border:2px solid gray;
    height: 200px;
    width:100%;
}

.childLanding {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.childLanding img {
    border:2px solid red;
    width:80%;
}

/* AdviceAreas */

.AdviceAreascontainer{
  padding-left: 150px;
}


/* AdviceSections */

.AdviceAreasSections{
  list-style: block;
}


/* How it works */

.parent {
    display:table;
    border:2px solid gray;
    height:400px;
    width: 100%;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.child img {
    border:2px solid red;
    width:200px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.NoUnderlineForLink {
  text-decoration: none !important; 
}

#whiteText{
  color: #fff !important; 
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.centerpicture{
  display: block; margin: 0 auto;
}