@import "bootstrap";

@import "bootstrap-responsive";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 767px)
{
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
}
/* universal */

html,body {
  
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
}



.middleSectionOfLandingPage{
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_5255bf45a4a45_1.JPG');
   /* background-image: url('http://unsplash.s3.amazonaws.com/batch%204/jet-sky.jpg'); */
  background-size: cover;
  background-attachment: fixed;
}
/* typography */

/* For blog */

.navbar-inner .blogheader {
  background-color: #000;
  background-image: none;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  margin-bottom: 200px;
}

/* header */
.blogPostText {
  text-decoration: none !important;
  font-size: 16px; 
  color: #4F4F4F !important;
  font-weight: 100 !important;
  line-height:150%
}

#logo {
  float: left;
  margin-top: 25px;
  width: 200px;
}

.navbar-inner {
  #background-color: #61B329;
  background-color: #000;
  background-image: none;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%
}

.navbar .navbar-inner .nav.pull-right {
    margin-top: 32px; 
}

.headerlinks{
  color: #fff !important; 
  font-size: 14px;
}

/* Landing Page */

.btn.btn-large.btn-primary{
  background-color: #00aced;
  background-image: none;
  margin-left: px;
  padding: 18px 28px;
  font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

  /* Landing Page - for AdviceShare Logo */

      .parentLanding {
          display:table;
          height: 100px;
          width:100%;
          margin-top: -20px;
      }

      .buttonLanding {
          display:table;
          height: 100px;
          width:100%;
      }

      .childLanding {
          display:table-cell;
          vertical-align:middle;
          text-align:center;
      }

      .childLanding img {
          width:45%;
      }

      .withrightmargin{
        margin-right: 20px;
      }

      .moveleft{
        margin-left: -20px;
      }

      IMG.signupPageimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px;
        margin-bottom: -150px;
        width: 40%; 
      }

  /* Landing Page - for How it works & Signup box */

      .signupparent {
          display:table;
          height:250px;
          width: 100%;
      }

      .signupparentchild {
          display:table-cell;
          vertical-align:middle;
          text-align:center;
      }

      .signupparentchild img {
          width:200px;
      }

      .explainergraphics img {
            width:12%;
            height: 50px;
            margin-top: px;
        }
       .smallpictures{
        margin-top: -3px;
       }
       .getridofspaceatbottom {
          margin-bottom: px;
      } 

        .pushpicturedown {
          margin-top: -5px;
        }

        .pushpicturedownmore {
          margin-top: 17px;
        }

        .space2and3{
          margin-bottom: 13px;
        }

/* Social media */


.socialmedia img {
          width:4%;
      }


/* Pricing Page */
.pricingparent {
    display:table;
    border:2px solid gray;
    height: 300px;
    width:100%;
}

.pricingbuttons {
    display:table;
    border:2px solid gray;
    height: 200px;
    width:100%;
}

.pricingchild {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.pricingchild img {
    border:2px solid red;
    width:80%;
}


/* Mentor Signup */

.spacecolumns {
  margin-left: 20px;
}

.withleftmargin {
  margin-left: 50px;
}


/* AdviceAreas */

.AdviceAreascontainer{
  padding-left: 150px;
}


/* AdviceSections */

.AdviceAreasSections{
  list-style: block;
}


/* How it works */

.parent {
    display:table;
    border:2px solid gray;
    height:300px;
    width: 100%;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.child img {
    border:2px solid red;
    width:200px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.NoUnderlineForLink {
  text-decoration: none !important; 
}

#whiteText{
  color: #fff !important; 
}

.spacefortopofpage{
  margin-bottom: 100px;
}
.spacefortopoflandingpage{
  margin-top: 100px;
}

.hidden { display: none; }

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
.centerpicture{
  display: block; margin: 0 auto;
}