<header class="navbar navbar-fixed-top" id="navigation" style="margin-bottom: -20px;">
  <div class="navbar-inner">
    <div class="container-fluid">
        <%= link_to image_tag("https://s3.amazonaws.com/AdviceShare/New+Logos/AdviceShare-Dec-26-lowercase-green.png"), root_path, :id => "logo" %>
      <ul class="nav pull-right">
        <li><%= link_to "Blog", blog_path, class: 'navbarText' %></li>
        <li><%= link_to "Contact", root_path(:anchor => "contact"), class: 'navbarText' %></li>
        <!--<li><%= link_to "Sign in", new_user_session_path, class: 'blogPostText' %></li>-->
    </ul>
    </div>
  </div>
</header>

