<div class="buttonLanding">
    <div class="childLanding">
        <br>
        <br>
        <a><%= link_to "Blog", "http://www.AdviceShare.co/blog/highly-coveted-professional-and-academic-positions", class: 'headerlinks' %></a>
        <small>  |  <small>© 2013 <a class="headerlinks" href="mailto:general@AdviceShare.co">AdviceShare</a>. All rights reserved.</small>
	</div>
</div>
